<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h2>BOOKING FORM</h2>


    <fieldset>
        <form action="/send", method="post">
            <label for="">START</label><br>
            <input type="text" name="mwanzo"><br>
            <label for="">Destination</label><br>
            <input type="text" name="mwisho"><br>
            <label for="">Date</label><br>
            <input type="date" name="date">
            <label for="">Time</label><br>
            <input type="time" name="time"><br>
            <label for="">Amount</label><br>
            <input type="text" name="amount"><br>
            <input type="submit">









        </form>






    </fieldset>





</body>
</html>