<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
</head>
<body>
    <!-- routing helps execute the function of python -->
    <form action="/signup" method="post" class="form-group">
        <label > FullName(Required)</label><br>
         <input type="text" class="form-control" name="names"><br>
         <label >Email(required)</label><br>
         <input type="Email" class="form-control" name="email"><br>
         <label >Password(required)</label><br>
         <input type="password" class="form-control" name="password">
                                 <br>
         <label >Phone</label><br>
         <input type="text" class="form-control" name="phone" ><br>
                                 
         <label >Gender</label><br>
         <select class="form-select" name="gender">
         <option value="Male">Male</option>
         <option value="Female">Female</option>
         </select>
                                 <br>


         <input type="submit" class="btn btn-outline-info">
  </form>







</body>
</html>